.container-head {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato;*/
}

.head {
    border-bottom: 1px solid #ECECEC;
    /* padding-top: 24px;
    padding-bottom: 25px; */
}

.container-head {
    display: flex;
    align-items: center;
}


