.web-studio-footer {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.container-head__web {
    color: var(--accent-color);
}

.container-head__link {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
}