:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #F5F4FA;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}

img {
    display: block;
}

.body {
    font-family: Roboto;
    color: #757575;
}